@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
/* ------------------------------------ COLORS --------------------------------- */
    --color-main: #0065FC;
    --color-light: #DEEBFF;
    --color-second: #F2F2F2;
    --color-shadow: #D9D9D9;
/* ---------------------------------- SIZES --------------------------------- */
    --radius-card: 20px;
    --radius-buttons: 15px;
}
/* -------------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

.sub_body{
    width: 100%;
    height: 100%;
}
/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
    padding: 0 5%;
}
/* ---------------------------------- Logo ---------------------------------- */
.logo{
    width: 70px;
}
.logo img{
    width: 100%;
}
.logo a{
    display: block;
    margin-top: 25px;
}
/* ----------------------------------- Nav ---------------------------------- */
.nav_list{
    display: flex;
}
.nav_item{
    margin: 0 25px;
}
.nav_link{
    display: block;
    padding-top: 45px ;
    border: 2px solid transparent;
    font-weight: 500;
    color: black;
    transition: all .5s ease;
}
.nav_link:hover{
    color: var(--color-main);
    border-top: 2px solid var(--color-main);
}

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */
main{
    padding: 0 5%;
}
.wrapper{
    margin-bottom: 40px;
}
.container{
    margin-bottom: 25px;
    width: 100%;
}
.main_title{
    font-weight: 700;
    margin: 10px 0;
    font-size: 20px;
}
.sub_title{
    font-weight: normal;
    font-size: 15px;
}
/* --------------------------------- search --------------------------------- */
.container-search{
    display: flex;
    align-items: center;
    border-radius: var(--radius-buttons);
}
form{
    /* width: 25%; */
    border-top: 1px solid var(--color-second);
    border-bottom: 1px solid var(--color-second);
}
.search-icon{
    background-color: var(--color-second);
    padding: 15px 20px;
    border-top-left-radius: var(--radius-buttons);
    border-bottom-left-radius: var(--radius-buttons);
}
.search{
    border: none;
    padding: 13px 18px;
    /* border-top: 1px solid var(--color-second);
    border-bottom: 1px solid var(--color-second); */
    font-weight: 700;
}
.search::placeholder{
    font-weight: 700;
    color: black;
}
.search:focus{
    outline: none;
}
.search:focus::placeholder{
    color: transparent;
    transition: all .2s ease;

}
.search_button{
    background-color: var(--color-main);
    color: white;
    font-weight: 700;
    padding: 13px 18px;
    border: 1px solid var(--color-main);
    border-top-right-radius: var(--radius-buttons);
    border-bottom-right-radius: var(--radius-buttons);
    cursor: pointer;
}
.search_button .icon-search{
    display: none;
}
/* --------------------------------- filtres -------------------------------- */
.container.container-filtres{
    width: 100%;
    display: flex;
    align-items: center;
}
.filter-list{
    display: flex;
    align-items: center;
}
.filtre-btn{
    display: flex;
    align-items: center;
    border: 2px solid var(--color-shadow);
    border-radius: 25px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: all .5s ease;
}
.filtre-btn:hover{
    border: 2px solid var(--color-main);
}
.filtre-btn:hover .filtre-txt{
    color: var(--color-main);
}
.filtre-btn:hover .filtre-icon{
    background-color: var(--color-main);
    color: var(--color-light);
}
.filtre-icon{
    color: var(--color-main);
    background-color: var(--color-light);
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: -5px;
    transition: all .6s ease;
}
.filtre-title{
    font-weight: 700;
    margin-right: 25px;
}
.filtre-txt{
    font-weight: 700;
    padding: 0 15px 0 5px;
    transition: all .5s ease;
}
.container.container-infos{
    display: flex;
    align-items: center;
}
.icon-info{
    color: var(--color-main);
    border-radius: 50%;
    border: 1px solid var(--color-shadow);
    height: 24px;
    width: 24px;
    padding: 3px;
    text-align: center;
    font-size: 14px;
    margin-right: 12px;
}
.container-infos p{
    font-size: 15px;
}
/* ------------------------------ MAIN CONTENT ------------------------------ */
.wrapper.wrapper-mid{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-basis: 100%;
}
.cont-h-left, .cont-h-right{
    background-color: var(--color-second);
    border-radius: 25px;
    padding: 30px;
}
.cont-h-left{
    flex-basis: calc(66% - 10px);
}
.cont-h-right{
    flex-basis: calc(33% - 10px);
}
/* --------------------------- hebergements cards --------------------------- */
.card-title{
    margin-bottom: 25px;
}
.card-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-link{
    text-decoration: none;
    flex-basis: calc(33% - 15px);
    margin-bottom: 25px;
}
.card{
    background-color: white;
    position: relative;
    border: 5px solid white;
    border-radius: var(--radius-card);
    box-shadow: 0 0 15px var(--color-shadow);
    transition: all .5s ease;
    width: 100%;
    color: black;
}
.card:hover{
    transform: scale(1.1);
}
.cont-h-left .card-bottom{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4%;
}
.card-img{
    height: 115px;
}
.card-img img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--radius-card);
    border-top-right-radius: var(--radius-card);
}
.card-bottom{
    width: 100%;
}
.h-title{
    font-weight: 700;
    font-size: 13px;
}
.h-price{
    font-size: 13px;
    padding: 5px 0;
}
.l-price{
    font-weight: 700;
}
.h-icons{
    display: flex;
}
.icon-star{
    font-size: 13px;
    color: var(--color-main);
}
.icon-star-grey{
    color: var(--color-second);
}
.h-sub{
    cursor: pointer;
    transition: all .5s ease;
    margin-top: 2%;
}
.h-sub:hover{
    color: var(--color-main);
}
/* ----------------------------- populaire cards ---------------------------- */
.cont-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.cont-h-right .card-wrapper{
    flex-direction: column;
}
.cont-h-right .card{
    display: flex;
    width: 100%;
}
.cont-h-right .card-img{
    height: 138px;
    width: 100%;
    max-width: 125px;
}
.cont-h-right .card-img img{
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--radius-card);
    width: 100%;
}
.cont-h-right .card-bottom{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}
.card-text .h-title{
    margin-bottom: 10px;
}
.cont-h-right .card-bottom .h-title, .cont-h-right .card-bottom .h-icons{
    padding: 0;
}
.cont-h-right .card-link:last-child{
    margin-bottom: 0;
}
/* -------------------------------- ACTIVITES ------------------------------- */
/* ------------------------------- containers ------------------------------- */
.container-act{
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-height: 320px;
    max-height: 460px;
}
.cont-a-left, .cont-a-right{
    display: flex;
    flex-basis: 49%;
    justify-content: space-between;
    gap: 5%;
}
.c-wrap-r, .c-wrap-l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    height: 94%;
    gap: 8%;
    align-self: baseline;
}
/* ---------------------------------- cards --------------------------------- */
.container-act .card{
    border: none;
}
.card-a-link{
    width: 50%;
    flex-basis: auto;
    margin-bottom: 0;
}
.card.card-first{
    height: 100%;
}
.c-wrap-r .card{
    height: 49%;
    min-height: 49%;
}
.container-act .card-img{
    height: 99%;
    border-bottom-right-radius: var(--radius-card);
    border-bottom-left-radius: var(--radius-card);
    overflow: hidden;
}
.container-act .card-bottom{
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 5% 0;
    border-bottom-right-radius: var(--radius-card);
    border-bottom-left-radius: var(--radius-card);
}
.card.cw-b{
    height: 59%;
    min-height: 59%;
}
.card.cw-s{
    height: 39%;
    min-height: 39%;
}
.a-title{
    font-weight: 700;
    font-size: 14px;
    margin-left: 5%;
}
/* --------------------------------- FOOTER --------------------------------- */
.wrapper.footer-wrap{
    background-color: var(--color-second);
    margin-bottom: 0;
}
.container.cont-footer{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.f-list-title{
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-link a{
    color: black;
    line-height: 30px;
    transition: all .5s ease;
}
.footer-link a:hover{
    color: var(--color-main);
}

/* -------------------------------------------------------------------------- */
/*                                   QUERIES                                  */
/* -------------------------------------------------------------------------- */

/* ----------------------------- bigger screens ----------------------------- */
@media screen and (min-width: 1280px){
    .logo{
        width: 101px;
    }
    nav{
        position: absolute;
        top: 0;
        right: 5%;
    }
    .h-title, .h-price, .icon-star, .a-title{
        font-size: initial;
    }
    .h-price{
        padding: 5px 0;
    }
    /* .cont-h-left, .cont-h-right{
        padding: 50px;
    } */
    .cont-h-left .card-bottom{
        padding: 8px;
        justify-content: space-between;
    }
    .card-text .h-title{
        margin-bottom: 5px;
    }
    .container-act .card-bottom{
        padding: 20px 0;
    }
}
/* -------------------------------- tablettes ------------------------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .filter-list,
    .wrapper.wrapper-mid{
        flex-wrap: wrap;
    }
    .container.container-filtres{
        flex-direction: column;
        align-items: flex-start;
    }
    .filtre-title{
        margin: 0 0 15px 0;
    }
    .filter-list li{
        margin-bottom: 15px;
    }
    .filtre-btn{
        margin: 0 20px 10px 0;
    }
    .cont-h-left,
    .cont-h-right{
        flex-basis: 100%;
        padding: 5%;
    }
    .card-link{
        flex-basis: 48%;
    }
    .h-title,
    .h-price,
    .icon-star{
        font-size: 16px;
    }
    .container-act{
        min-height: auto;
        max-height: initial;
        flex-wrap: wrap;
    }
    .c-wrap-r, .c-wrap-l{
        gap: initial;
        height: 100%;
    }
    .cont-a-left, .cont-a-right{
        gap: 3%;
        flex-basis: 100%;
    }
    .cont-a-left{
        max-height: 480px;
    }
    .cont-a-left{
        margin-bottom: 3%;
    }
    .c-wrap-r .card{
        height: 48%;
        min-height: 48%;
    }
    .card.cw-b{
        height: 57%;
        min-height: auto;
    }
    .card:hover{
        transform: scale(1.05);
    }
}
/* --------------------------------- MOBILE --------------------------------- */
@media screen and (max-width: 767px){
/* --------------------------------- header --------------------------------- */
    header{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .logo{
        width: 101px;
    }
    .logo a{
        margin: 25px 0;
    }
    nav{
        width: 100%;
    }
    .nav_list{
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .nav_item{
        margin: 0;
        flex-basis: 50%;
        text-align: center;
    }
    .nav_link{
        padding-top: 0;
        padding-bottom: 15px;
        border: none;
        border-bottom: 3px solid var(--color-second);
    }
    .nav_link:hover{
        border-top: none;
        border-bottom: 3px solid var(--color-main);
    }
    .nav_link--active{
        color: var(--color-main);
        border-bottom: 3px solid var(--color-main);
    }
/* ---------------------------------- main ---------------------------------- */
    main{
        padding: 0;
    }
    .main-top-wrap, .wrapper-bot{
        padding: 0 5%;
    }
    form{
        width: 100%;
    }
    .search{
        padding: 13px 24px;
    }
    .search_button{
        border-radius: var(--radius-buttons);
        padding: 14px 15px;
        position: relative;
        left: -30px;
    }
    .search_button{
        font-size: 0;    
    }
    .search_button .icon-search{
        display: block;
        font-size: initial;
    }
    .container.container-filtres{
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-list{
        flex-wrap: wrap;
    }
    .filtre-title{
        margin: 0 0 15px 0;
    }
    .filtre-btn{
        margin: 0 10px 10px 0;
    }
    .icon-info{
        padding: 4px 9px 5px 8px;
    }
/* ------------------------------ hébergements & populaires ------------------------------ */
    .wrapper.wrapper-mid {
        flex-wrap: wrap;
    }
    .cont-h-left, .cont-h-right{
        flex-basis: 100%;
        border-radius: 0;
        padding: 10% 5%;
    }
    .cont-h-right{
        margin-bottom: 0;
    }
    .cont-h-left{
        order: 1;
        background-color: white;
    }
    .cont-h-left .card-img img{
        object-position: 50% 80%;
    }
    .cont-h-right .card-bottom{
        padding: 10px 0 10px 15px;
    }
    .cont-title{
        margin-bottom: 25px;
    }
    h3{
        /* margin-bottom: 25px; */
        font-size: 22px;
    }
    .icon-star-title{
        font-size: 22px;
    }
    .card:hover{
        transform: scale(1.0);
    }
    .card-link{
        flex-basis: 100%;
    }
    .h-title, .h-price, .icon-star{
        font-size: 16px;
    }
    /* -------------------------------- activités ------------------------------- */
    .container-act{
        flex-direction: column;
        min-height: auto;
        max-height: initial;
        flex-wrap: wrap;
    }
    .container-act .card{
        height: 250px;
        margin-bottom: 30px;
    }
    .card.cw-b, .card.cw-s{
        min-height: initial;
    }
    .cont-a-left, .cont-a-right{
        flex-basis: 100%;
        flex-wrap: wrap;
        gap: initial;
    }
    .c-wrap-r, .c-wrap-l{
        flex-basis: 100%;
        height: auto;
        align-self: baseline;
        gap: initial;
    }
    .card-img .img-d{
        display: none;
    }
    .card-img .img-m{
        display: block;
    }
    .container-act .card-bottom{
        padding: 20px 0;
    }
    .a-title{
        font-size: 16px;
    }
    /* --------------------------------- footer --------------------------------- */
    .container.cont-footer{
        flex-direction: column;
        padding: 10% 5%;
    }
    .footer-list{
        margin-bottom: 50px;
    }
    .footer-list:last-child{
        margin-bottom: 0;
    }
    .f-list-title{
        font-size: 18px;
        margin-bottom: 15px;
    }
/* --------------------------------- footer --------------------------------- */
}
@media screen and (min-width: 500px) and (max-width: 991px){
    .cont-h-left .card-img{
        height: 150px;
    }
    .cont-h-left .card-bottom{
        padding: 3%;
    }
    .h-price{
        padding: 15px 0;
    }
}
